@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#root {
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-family: "Rubik", sans-serif;
}

.container--dark {
    background: #000;
}

.container__title {
    font-weight: 900;
    font-style: italic;
    font-size: 60px;
    letter-spacing: -0.05em;
}

.container__title--dark {
    color: #fff;
}

.container__subtitle {
    font-size: 20px;
    letter-spacing: -0.05em;
}

.container__subtitle--dark {
    color: #fff;
}

.container__button {
    transition: 0.4s;
    width: 200px;
    margin-top: 80px;
    padding: 11px;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    letter-spacing: -0.05em;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container__button--dark {
    background: #fff;
    color: #000;
}

.container__button:hover {
    transform: scale(1.1);
}

.container__button:active {
    transform: scale(0.95);
}

.todo-container {
    width: 500px;
    margin-top: 30px;
    padding: 20px;
    background-color: #f0f0f0;
}

.todo-item {
    background-color: #1890ff;
    padding: 10px;
    color: #fff;
    letter-spacing: -0.05em;
}

.todo-item + .todo-item {
    margin-top: 10px;
}

.todo-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    color: #fff;
}

.todo-form__input-block {
    display: flex;
    flex-direction: column;
}

.input-block__label {
    margin-top: 20px;
    margin-bottom: 7px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: -0.05em;
}

.input-block__input {
    width: 349px;
    height: 49px;
    padding: 10px;
    border: 2px solid #ffffff;
    background: #000;
    color: #fff;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
}
